body {
    background: #f8f8f8;
    padding: 0;
    margin: 0;
    color: #444;
}
.content {
    padding: 20px;
    margin: 2em auto;
    max-width: 400px
}
.form-input-name {
    margin-top: 10em;
    text-align: center;   
}
.nama_user {
    padding: 12px;
    width: 92%;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    margin: 18px 0;
    margin-top: 10px;
    font-size: 15px;
}
.masuk {
    background: black;
    color: #fff;
    font-weight: bold;
    padding: 12px;
    border: 1px solid #00979d;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    cursor: pointer;
}
.box-pesan {
    margin-top: 3em;
    background: #fff;
    box-shadow: 0 0 10px #aaa;
    -webkit-box-shadow: 0 0 10px #aaa;
    border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
    display: none;
}
.box-pesan .header {
    background: black;
    color: #fff;
    padding: 18px;
    border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
}
.box-pesan .name_i {
    padding: 12px 10px; 
    border-bottom: 1px solid #ddd;
    margin-bottom: 8px;
    text-align: center;
}
.box-pesan .header h1 {
    margin: 10px 0;
    text-align: center;
    padding: 0
}
.box-pesan .pesan {
    height: 200px;
    overflow: auto;
    word-break: break-all;
}
.box-pesan .header .nama_us {font-weight: bold}
.form-submit-pesan {
    padding: 15px;
    border-top: 1px solid #ddd;
}
.form-submit-pesan textarea {
    width: 100%;
    height: 80px;
    border: 1px solid transparent;
    resize: none;
    margin-bottom: 10px;
}
.form-submit-pesan button {
    float: right;
    background: #00979d;
    border: 1px solid #00979d;
    color: #fff;
    font-weight: bold;
    padding: 8px 12px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    cursor: pointer;
}
.form-submit-pesan textarea:focus, .nama_user:focus {outline: none}
.clear {clear:right}
.pesan {margin: 10px}
.read-msg {margin: 15px;}
.read-msg .msg {
    background:#dcf8c6;
    color: #333;
    display: inline-block;
    padding: 12px;
    border-radius: 15px;
    max-width: 220px;
}
.read-msg .msg .rd {
    padding-right: 40px;
    position: relative;
}
.read-msg .msg .rd .waktu {
    font-size: 12px;
    bottom: 0;
    right: 0;
    position: absolute;
    color: #666;
}
.read-msg.active .msg {float: right;}
.read-msg .msg .head {
    padding: 5px 0;
    padding-bottom: 10px;
    border-bottom:1px solid #ddd;
    font-weight: bold;
    margin-bottom: 10px
}
.loader {
    display: none;
    position:fixed;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
}